.player-info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  width: 172px;
  min-width: 172px;
  padding: 16px;
  box-sizing: border-box;

  span {
    margin-bottom: 8px;
  }

  > div {
    display: flex;
    flex-direction: column;

    > span span {
      margin-right: 6px;
    }
  }

  &.hidden {
    visibility: hidden;
  }

  &.filter-blur {
    filter: blur(5px);
    user-select: none;
  }

  &-row {
    > span {
      display: inline-block;
    }
    &.lung-nodule-report {
      box-sizing: border-box;
      padding: 4px;
      border-radius: 8px;
      background-color: rgb(110, 115, 121);
      overflow: auto;
      .title {
        font-size: 16px;
        font-weight: 400;
      }

      .content {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
        }
      }
    }
  }
}
