#player .side-pan {
  position: relative;
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  transition: all 300ms;
  width: 0;
  max-width: 0;
  overflow: hidden;
  box-sizing: border-box;

  &-scrollbar {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
  }

  &-header {
    height: 2.5rem;
    background-color: #9e9e9e;
    color: #fff;
  }

  &-content {
    padding: 0.8rem;
    box-sizing: border-box;
  }

  &.show {
    // margin-left: 0;
    // margin-right: 0;
    width: 25rem;
    max-width: 25rem;
    min-width: 25rem;
  }

  .series-card {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }
}
