.gallery {
  padding: 40px 60px;
  box-sizing: border-box;
  &-inner {
    display: flex;
    flex-direction: column;
  }

  &-header {
    display: flex;
    margin-bottom: 12px;
    align-items: center;

    &-title {
      margin-right: 16px;
      white-space: nowrap;
    }

    &-input:not(:last-child) {
      margin-right: 16px;
    }

    &-btns {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 30%;

      button:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}
