@headerHeight: 64px;
@nicknameColor: rgba(0, 0, 0, 0.45);

#header {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: @headerHeight;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  .header {
    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 100%;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  .logo {
    height: 100%;
    img {
      width: 100px;
    }
  }
}

.header-menu {
  .ant-menu-submenu-open,
  .ant-menu-submenu-active {
    color: #7398ff !important;
    border-bottom-color: #7398ff !important;
  }
  &-sub {
    .ant-menu-sub {
      max-width: 244px;
      padding: 10px 22px;
    }
  }
  &-item {
    &:hover a,
    &:hover {
      background-color: inherit;
      color: #7398ff;
    }

    &.user-nickname {
      font-size: 20px;
      color: @nicknameColor;
      cursor: default;
      background-color: #fff !important;
      &:hover {
        color: @nicknameColor;
      }
    }
  }
}

// .header-avatar-menu {
//   padding: 10px 22px;
//   text-align: right;
//   ul {
//     list-style: none !important;
//     padding-left: 0;
//   }

//   .user {
//     color: #606060;
//   }

//   .edit-user-info,
//   .user-feedback,
//   .dashboard,
//   .logout {
//     padding: 4px;

//     &:hover a,
//     &:hover {
//       background-color: inherit;
//       color: #7398ff;
//     }
//   }

//   .ant-menu-item-group-title {
//     font-size: 20px;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     margin-bottom: 8px;
//   }
// }

// .avatar-dropdown {
//   max-width: 244px;

//   .ant-menu-root.ant-menu-vertical {
//     box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08),
//       0 9px 28px 8px rgba(0, 0, 0, 0.05);
//   }

//   .ant-dropdown-menu-item:not(:last-child) {
//     margin-bottom: 24px;
//   }
// }
