.report {
  &-overview {
    margin-bottom: 20px;
    &-item:first-child {
      margin-bottom: 10px;
    }
  }

  &-review {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    &-btn {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &-full {
    margin-bottom: 20px;
  }

  &-get-full {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      width: 300px;
    }
  }

  &-result {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
